<html ng-app="app" ng-controller="appCtrl">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Gourmet App Android">
<meta name="author" content="Javier González">
<meta name="keywords" lang="en" content="Gourmet,Cheque,github,javier,ugarte">

<link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
<link rel="manifest" href="images/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#FF5722">

<head>
	<title>{{gourmet.appname}}</title>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300,500' rel='stylesheet' type='text/css'>
	<link href="styles.css" rel="stylesheet" type="text/css" />
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
	<script src="app.js"></script>
</head>
<body>
	<div id="header">
		<div class="logo-container"><img class="logo" src="images/login_image.png"/></div>
	</div>

	<div id="icon">
		<img class="icon" src="images/icon.png"/>
	</div>

	<div id="content">
		<div id="download-button">
			<a href="{{gourmet.downloadUrl}}"><span class="download-title">{{gourmet.tagname}}</span></a>
			<span class="available"></br>{{gourmet.available}}</span>
		</div>

		<div id="changelog">
			<span class="changelog-title">Changelog</span>
			<div class="changelog-detail" ng-repeat="release in gourmet.releases">
				<span class="changelog-version" >{{release.tagname}}</span>
				<ul>
					<li ng-repeat="change in release.changes">
						{{change}}
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>